* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial;
}

/* début de la navbar */

.navbar {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: #000000;
  text-decoration: none;
}

.navbar a:hover {
	background:linear-gradient(to bottom, #ef7c11 5%, #ffc477 100%);
	background-color:#ef7c11;
}
.navbar a:active {
	position:relative;
	top:1px;
}

.navbar img {
  width: 405px;
  height: 105px;
}

.navbar .nav-links ul {
  display: flex;
  font-size: large;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

 .nav-toggle {
    display: none;
  }

 /* création du burger menu */
@media  screen and (max-width : 836px) {
 
  .nav-toggle-label {
    position: fixed;
    top: 25px;
    right: 15px;
    z-index: 3;
    cursor: pointer;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background-color: #333;
    height: 5px;
    width: 30px;
    border-radius: 1px;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    top: -8px;
  }
  
  .nav-toggle-label span::after {
    top: 8px;
  }
  
  .nav-toggle:checked + .nav-toggle-label span {
    transform: rotate(45deg);
  }
  
  .nav-toggle:checked + .nav-toggle-label span::before {
    top: 0;
    transform: rotate(90deg);
  }
  
  .nav-toggle:checked + .nav-toggle-label span::after {
    top: 0;
    transform: rotate(-90deg);
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 232px;
    background-color: #ef7c11;
    padding: 10px;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .parcdessports {
   margin: 0;
   width: 100%;
   padding-bottom: 20%;
  }

  .navbar .logo {
  display: none;
  }

  .imgparcdessports {
    display: flex;
    position: absolute;
    top: 0;
    margin: 0;
  }

  .actu {
  z-index: 1;
  }

  .nav-toggle:checked ~ .navbar {
    left: 0;
  }
  
  .navbar a {
    color: #000000;
    text-decoration: none;
  }

  .navbar .nav-links ul {
    display: flex;
    font-size: large;
    flex-direction: column;
  }

  .navbar .nav-links ul li {
    margin: 0 25px;
  }

  .nav-item a:hover {
    background-color: #fff;
    color: #333;
  }
}

.button {
  box-shadow: inset 0px 0px 0px 0px #fce2c1;
	background: linear-gradient(to bottom, #ffc477 5%, #ef7c11 100%);
	background-color:#ffc477;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 11px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #cc9f52;
}
.button:hover {
	background:linear-gradient(to bottom, #ef7c11 5%, #ffc477 100%);
	background-color:#ef7c11;
}

.button:active {
	position:relative;
	top:1px;
}

.imgparcdessports {
background-size: cover;
width: auto;
height: auto;
padding: 5px;
border-radius: 2%;
}

@media screen and (min-width: 1200px) {
  .imgparcdessports {
    width: 100%;
  }  
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .imgparcdessports {
    width: 100%;
  }
}
/*ecran tablette */
@media screen and (max-width: 991px) and (min-width: 768px) {
  .imgparcdessports {
    width: 100%;
  }
}
/* mobile first */
@media screen and (max-width: 767px) {
  .imgparcdessports {
    width: 100%;
    height: auto;
  }
}

.parcdessports .slogan {
  background: rgba(246, 105, 40, 0.622);
  z-index: 1;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: white;
  width: 70%;
}

.main {
  padding: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;

}

/* Contenu central */

h2 {
  text-align: center;
  text-shadow: -2px 2px 10px #FF7800;
}

.actu {
display: block;
padding: 10px;
background-color:#eaeaea	;
margin: 10px auto;
text-align: justify;
width: 90%;
height: auto;
border: 1px solid black;
border-radius: 1%;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .actu {
    width: 100%;
  }
}
/*ecran tablette */
@media screen and (max-width: 991px) and (min-width: 768px) {
  .actu {
    width: 100%;
  }
}
/* mobile first */
@media screen and (max-width: 767px) {
  .actu {
    width: 100%;
  }
}

.titreactu {
  text-align: left;
  text-decoration: dotted;
  font-size: large;
  text-decoration-line: overline;
  font-style: italic;
}

.association {
display: block;
background: #eaeaea;
padding: 10px;
margin: 10px auto;
text-align: justify;
width: 90%;
height: auto;
border: 1px solid black;
border-radius: 1%;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .association {
    width: 100%;
  }
}
/*ecran tablette */
@media screen and (max-width: 991px) and (min-width: 768px) {
  .association {
    width: 100%;
  }
}
/* mobile first */
@media screen and (max-width: 767px) {
  .association {
    width: 100%;
  }
}

.texteassoc {
  column-gap: 20px;
  column-count: 3;
}

h3 {
  text-align: center;
}

.cartes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.reseaux {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Fin du contenu central */

/*.footer  */

footer {
  background-color: #eaeaea;
  padding: 40px 0;
}
footer a {
  text-decoration: none;
}

footer h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  footer {
    text-align: center;
  }
}

footer h4 {
  margin-top: 30px;
}

footer ul {
  margin-top: 30px;
}
