* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial;
}

.reseaux {
  position: absolute;
  align-items: end;
  bottom: 200px;
  right: 5px;
}
/* à corriger */
.reseau img {
  background-color: #ef7d11;
  border: #ef7d11;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.navbar {
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: #ef7d11;
}

.navbar img {
  width: 405px;
  height: 105px;
}

.navbar .nav-links ul {
  display: flex;
  font-size: large;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.menu {
  color: black;
  font-weight: 600;
}

.navbar .menu-icone {
  display: none;
  width: 35px;
  position: absolute;
  top: 30px;
  right: 35px;
}

.parcdessports {
width: 1550px;
height: 500px;
padding-bottom: 10px;
}

.parcdessports .slogan {
  background: rgba(246, 105, 40, 0.622);
  z-index: 1;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: white;
  width: 70%;
}





@media screen and (max-width: 1183px) {
  .reseaux {
    position: absolute;
    display: flex;
  }

  .navbar {
    padding: 0;
  }

  .navbar .menu-icone {
    display: block;
    justify-content: center;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #ef7d11
    backdrop-filter: blur(7px)
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: -100%;
    transition: all 0.5s;
  }

  .nav-links .mobile-menu {
    margin-left: 0;
  
  }

  .nav-links ul {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1,2em;
  }
}

footer {
    display: flex;
    background: linear-gradient(70deg, #f0821a, white)
}

#contact {
    display: flex;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 30px;

}